@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
 margin: 0;
 font-family: 'Poppins', sans-serif;
 box-sizing: border-box;
 padding: 0;
}

body{
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}
 header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
 }

.logo{
 font-size: 2em;
 color: #359381;
 pointer-events: none;
 margin-right: 270px;
}

 .navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0px 10px;
    font-weight: 600;
 }

 .navigation a:hover,
 .navigation a.active{
    background: #359381;
    color: #fff;
 }

 .parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

 #text{
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
 }

 .parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
 }

 .sec{
    position: relative;
    background: #003329;
    padding: 100px; 
 }
 .sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
 }

 .sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
 }
